.main-block {
  background-color: white;
  width: 960px;
  margin: auto;
}

.body {
    background-image: url(../images/hotel-wallpaper/hotel-wallpaper.png);
    background-size: repeat;
}

#firstName {
  font-family: 'Cedarville Cursive', cursive;
}

#navBar {
  padding-block: 10px;
}






